{% extends "menu/base.html" %}

{% block title %}eMenu{% endblock %}
{% block head %}

{% block headerspecific %}
{% endblock %}

{% endblock %}

{% block header %}
{% endblock %}
 <!-- Content
      ============================================================================== -->
{% block content %}
<h3>Witaj w eMenu</h3>

{% endblock %}


 <!-- Footer
      ============================================================================== -->
{% block footer%}

{% endblock %}
