{% extends "menu/emenu.html" %}

{% block content %}

<div>sortuj</div>
<select id="dynamic_select">
  <option value="/">domyslnie</option>
  <option value="/,n">wg. nazwy</option>
  <option value="/,i" selected="selected">wg. ilosci</option>
</select>
<br /><br />

{% for menu in menus %}
    {# Each "menu" is a Menu model object. #}
    {{ menu.nazwa|upper }}<br />
    ...
{% endfor %}

<div class="pagination">
    <span class="step-links">
        {% if menus.has_previous %}
            <a href="?page={{ menus.previous_page_number }}">poprzednia</a>
        {% endif %}

        <span class="current">
            Strona {{ menus.number }} z {{ menus.paginator.num_pages }}.
        </span>

        {% if menus.has_next %}
            <a href="?page={{ menus.next_page_number }}">następna</a>
        {% endif %}
    </span>
</div>



{% endblock %}